.site-header h1 {
    font-family: sans-serif;
    display: inline-block;
    margin: 10px 600px;
    color: rgb(138, 14, 90);
}
.site-header h2 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 2px 80px;
}
.site-header h3 {
        height: 100px;
        width: 500px;
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        margin: auto;
    }
.site-header-bg {
    background: url(img/gomo2.png);
    width: 1600px;
    height: 150px;
    background-size: 1600px 600px;
    margin: auto;
    opacity: 0.9;
}

section .image{
    margin: 20px 720px;
}
audio{
    display: flex;
    margin-bottom: 100px;
    width: 450px;
    height: 30px;
    right: 150px;
}

#game{
    width: 1600px;
    height: 500px;
    border: 4px solid rgb(117, 9, 90);
    top: 100px;
    margin: auto;    
    background-color: rgb(255, 255, 255);
}
#denis{ 
    width: 120px;
    height: 150px;
    background-image: url(img/denis.png);
    background-size: 120px 150px;
    position: relative;
    top: 350px;
    left: 50px;}
.animate{
    animation: jump 700ms linear;
}
    
@keyframes jump{
    0%{top: 350px;}
    30%{top: 200px;}
    50%{top: 100px;}
    70%{top: 200px;}
    100%{top: 350px;}
}
#huy{
    width: 150px;
    height: 120px;
    background-image: url(img/huy.png);
    background-size: 150px 120px;
    position: relative;
    top: 230px;    
    animation: huy 3s infinite linear;
}
@keyframes huy{
    0%{left: 1500px;}
    100%{left: -10px;}
}

#t{
    width: 120px;
    height: 120px;
    background-image: url(img/t.png);
    background-size: 8pc 130px;
    position: relative;
    top: 110px;    
    animation: t 4s infinite linear;
}
@keyframes t{
    0%{left: 1400px;}
    100%{left: 10px;}
}